
p {
    color: white;
    text-align: center;
}
.wrapper{
    background: rgb(196, 251, 63);
    background: radial-gradient(circle, rgba(196, 251, 63, 1) 0%, rgba(252, 70, 171, 0.7903536414565826) 87%);
}
.box {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.rotade {
    position: relative;
    height: 200px;
    width: 200px;
    transform-style: preserve-3d;
    animation-name: parent;
}

.front_blue {
    background: blue;
    animation: front;
}

.back_red {
    background: red;
    animation: back;
}

.block {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
}

.magic {
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-style: preserve-3d;
}

.block::after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    background: inherit;
    transform: translateZ(-1px);
    border-radius: inherit;
}

.block::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: inherit;
    transform: translateZ(-1px);
    justify-content: center;

}


@keyframes front {
    from {
        transform: rotateZ(0deg) translateZ(20px);
    }

    to {
        transform: rotateZ(360deg) translateZ(20px);
    }
}

@keyframes back {

    from {
        transform: rotateZ(360deg) translateZ(-20px) rotateY(180deg);
    }

    to {
        transform: rotateZ(0) translateZ(-20px) rotateY(180deg);
    }
}

@keyframes parent {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(360deg);
    }
}